@import "./theme.scss";

body{
  font-family:'Roboto', Arial, sans-serif;
  color: $default_color;
}

h1,h2,h3,h4,h5,p{
  margin: 0;
}

.container{
  max-width: 1440px;
  padding: 0 50px;
  margin: 0 auto;
}

.flex{
  display: flex;
}

