@import './theme.scss';
@import './buttons.scss';

.header {
  background-color: $header-background-color;
  color: $header-text-color;

  //padding: 16px 24px;

  &__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
  }

  &__logo {
    &-img {

    }
  }
  &__nav {
    display: flex;

    &-link {
      @include button(inherit,$header-text-color);
      
      margin: 0 0 0 16px;
      display: block;
    }
    &-account {

    }
    &-add {

    }
  }
}
