

.card{
  position: relative;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45);
  overflow: hidden;
  background-image: url('https://ireland.apollo.olxcdn.com/v1/files/v8drhv5vf5o62-UA/image;s=1000x700');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  
  &:hover{
    background-size: 120% 120%;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
  }

  &__wrapper{
    padding: 20px;
    height: 100%;
    box-sizing:border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__overlay{
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0,0,0,0.2);
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover{
      text-decoration: none;
      background-color: rgba(0,0,0,0.4);
    }
  }
  &__title{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
  }
  &__info{

    &-price{
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
    }
    &-place{
      color: #fff;
      font-size: 14px;
      text-decoration: none;
    }
  }
}