//Base

$default_color: #1e2b10;

$btn-submit-background-color: #91C850;
$btn-submit-text-color: #fff;
$btn-submit-hover-background-color: #81c135;
$btn-submit-hover-color: #fff;

//Header

$header-background-color: #91C850;
$header-text-color: #fff;

//Search

$search-background-color: #f5f5f5;
$search-text-color: #1e2b10;

//Footer

$footer-background-color: #f5f5f5;
$footer-text-color: #1e2b10;