<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - back</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header class="header">
      <div class="container">
        <div class="header__wrapper">
          <div class="header__logo">
            <img class="header__logo-img">
          </div>
          <div class="header__nav">
            <div class="header__nav-account">
              <a href="/account" class="header__nav-link">Мій Профіль</a>
            </div>
            <div class="header__nav-add">
              <a href="/add" class="header__nav-link">Додати Оголошення</a>
            </div>
          </div>
        </div>
      </div>
    </header>

    @RenderBody()

    <footer class="footer">
      <div class="container">
        <div class="footer__wrapper">
          <div class="footer__links">
            <a href="" class="footer__links-link">Допомога та Зворотній зв'язок</a>
            <a href="" class="footer__links-link">Умови користування</a>
            <a href="" class="footer__links-link">Політика конфіденційності</a>
          </div>
        </div>
      </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
