@import './theme.scss';
@import './buttons.scss';

.search{
  background: $search-background-color;

  &__wrapper{
    padding: 64px 0;
  }
  &__form{
    width: 100%;
    display: flex;
    margin: 0;
  }
  &__product{
    flex-grow: 1;
  }
  &__place{
    max-width: 30%;
  }
  &__submit{
    width: 150px;

    &-btn{
      width: 100%;
      color: $btn-submit-text-color;
      background: $btn-submit-background-color;
      text-decoration: none;
      padding: 10px;
      border: none;
      border-radius: 0 5px 5px 0;
      transition: all 0.3s ease;
      font-size: 24px;
      outline: none;
      line-height: 40px;
      box-shadow: none;
      border: 1px solid $search-background-color;
    
      &:hover{
        color: $btn-submit-hover-color;
        background: $btn-submit-hover-background-color;
      }
    }
  }
  &__input{
    margin: 0;
    width: 100%;
    font-size: 26px;
    padding: 15px 20px;
    color: $search-text-color;
    border: 1px solid $search-background-color;
    outline: none;
    border-style: solid;
    border-right:none;

    &::placeholder{
      color: #c5c5c5;
    }
  }
}